<app-search-input [form]="searchForm" label="fornecedor"></app-search-input>
<div class="text-center mb-4">
  <button class="btn btn-success" (click)="cadastroNovo()">
    novo fornecedor
  </button>
</div>
<table class="table table-sm table-striped table-bordered table-success">
  <thead class="bg-success text-white">
    <th class="text-center">Razão</th>
    <th class="text-center">CNPJ</th>
    <th class="text-center th-botao">rem</th>
  </thead>
  <tbody>
    <tr *ngFor="let forn of page.content">
      <td class="align-middle">{{ forn.razao }}</td>
      <td class="text-center align-middle">
        <div *ngIf="forn.cnpj != null">
          {{ forn.cnpj | mask: '00.000.000/0000-00' }}
        </div>
      </td>
      <td class="text-center align-middle">
        <button class="btn btn-success btn-sm" title="selecionar" type="button"
            (click)="selecionarFornecedor(forn)">
          <fa-icon [icon]="iCheck"></fa-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center mb-4">
  <button class="btn btn-danger" (click)="cancelar()" type="button">
    cancelar
  </button>
</div>
