<div #srollInit></div>
<app-pagina [isLoading]="isLoading">
  <app-titulo texto="Cadastro de Consumidores"></app-titulo>
  <div class="text-center mb-4">
    <app-botao-cancelar (clique)="cancelar()"></app-botao-cancelar>
  </div>

  <form [formGroup]="form" (ngSubmit)="salvar()">
    <div class="col-3 mb-3">
      <label for="inputTipo" class="form-label">Tipo:</label>
      <select id="inputTipo" [ngClass]="getSelectClass('tipo')" formControlName="tipo"
          #input>
        <option *ngFor="let tipo of tipos" [value]="tipo">
          {{ tipo }}
        </option>
      </select>
    </div>
    <div class="col-8 mb-3">
      <label for="inputDenominacao" class="form-label"
          *ngIf="form.get('tipo')?.value === 'FISICA'">
        Nome:
      </label>
      <label for="inputDenominacao" class="form-label"
          *ngIf="form.get('tipo')?.value === 'JURIDICA'">
        Razão Social:
      </label>
      <input type="text" [ngClass]="getInputUpperClass('denominacao')"
          formControlName="denominacao">
      <div class="invalid-feedback">
        obrigatório!
      </div>
    </div>
    <div class="row col-12 mb-3">
      <div class="col-3">
        <label for="inputCadastro" class="form-label"
            *ngIf="form.get('tipo')?.value === 'FISICA'">
          CPF:
        </label>
        <label for="inputCadastro" class="form-label"
            *ngIf="form.get('tipo')?.value === 'JURIDICA'">
          CNPJ:
        </label>
        <input type="text" id="inputCadastro" [ngClass]="getInputClass('cadastro')"
            [mask]="getMascara()" style="text-align: end;"
            formControlName="cadastro">
        <div class="invalid-feedback"
            *ngIf="form.get('cadastro')?.hasError('consExiste')">
          consumidor já cadastrado!
        </div>
      </div>
      <div class="col-3" *ngIf="form.get('tipo')?.value === 'FISICA'">
        <label for="inputNascimento" class="form-label">Nascimento:</label>
        <input type="date" class="form-control" formControlName="nascimento"
            id="inputNascimento">
      </div>
    </div>
    <div class="col-6 mb-3">
      <label for="inputEmail" class="form-label">Email:</label>
      <input type="email" id="inputEmail" [ngClass]="getInputClass('email')"
          formControlName="email">
      <div class="invalid-feedback">
        email inválido!
      </div>
    </div>
    <app-cad-fone [fones]="fones">
    </app-cad-fone>
    <app-cad-endereco [form]="form">
    </app-cad-endereco>
    <div class="gap-1 d-grid">
      <button class="btn btn-lg btn-success" type="submit"
          [disabled]="form.invalid || fones.length == 0">
        salvar
      </button>
    </div>
  </form>
</app-pagina>
